<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ws5.villagroup.com;Initial Catalog=ePlat;Persist Security Info=True;User ID=sa;Password=c53613b6-c8b8-400d-95c6-274e6e60a14a;" providerName="System.Data.SqlClient" />
    <add name="ePlatEntities" connectionString="metadata=res://*/ePlatDataModel.csdl|res://*/ePlatDataModel.ssdl|res://*/ePlatDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws5.villagroup.com;initial catalog=ePlat;persist security info=True;user id=sa;password=c53613b6-c8b8-400d-95c6-274e6e60a14a;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ecommerceEntities" connectionString="metadata=res://*/eplatformDataModel.csdl|res://*/eplatformDataModel.ssdl|res://*/eplatformDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws5.villagroup.com;initial catalog=ecommerce;persist security info=True;user id=sa;password=c53613b6-c8b8-400d-95c6-274e6e60a14a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FrontOfficeVDPVEntities" connectionString="metadata=res://*/FrontOfficeVDPVDataModel.csdl|res://*/FrontOfficeVDPVDataModel.ssdl|res://*/FrontOfficeVDPVDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=187.174.136.121;initial catalog=FrontOffice;persist security info=True;user id=eplatform;password=3btw4pm7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FrontOfficeGBRVEntities" connectionString="metadata=res://*/FrontOfficeModels.GarzaBlancaResortVallarta.FrontOfficeGBRVDataModel.csdl|res://*/FrontOfficeModels.GarzaBlancaResortVallarta.FrontOfficeGBRVDataModel.ssdl|res://*/FrontOfficeModels.GarzaBlancaResortVallarta.FrontOfficeGBRVDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=201.144.24.213;initial catalog=Frontoffice;persist security info=True;user id=crmuser;password=dK6Y7xz3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FrontOfficeHMPVEntities" connectionString="metadata=res://*/FrontOfficeModels.HotelMousaiVallarta.FrontOfficeHMPVDataModel.csdl|res://*/FrontOfficeModels.HotelMousaiVallarta.FrontOfficeHMPVDataModel.ssdl|res://*/FrontOfficeModels.HotelMousaiVallarta.FrontOfficeHMPVDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=201.144.24.214;initial catalog=Frontoffice;persist security info=True;user id=crmuser;password=dK6Y7xz3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FrontOfficeVDPVCancunEntities" connectionString="metadata=res://*/FrontOfficeModels.VillaDelPalmarCancun.FrontOfficeVDPCancunDataModel.csdl|res://*/FrontOfficeModels.VillaDelPalmarCancun.FrontOfficeVDPCancunDataModel.ssdl|res://*/FrontOfficeModels.VillaDelPalmarCancun.FrontOfficeVDPCancunDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=187.237.116.38;initial catalog=Frontoffice;persist security info=True;user id=crmuser;password=dK6Y7xz3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="resortConnectEntities" connectionString="metadata=res://*/resortConnectDataModel.csdl|res://*/resortConnectDataModel.ssdl|res://*/resortConnectDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=resortcom-external.database.windows.net;initial catalog=rc_prod_tafer-reservation-sync;user id=tafer;password=Yy&gt;so39hAMu^FqQT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SpiTvgEntities" connectionString="metadata=res://*/SPIModels.TheVillaGroup.SpiTvgDataModel.csdl|res://*/SPIModels.TheVillaGroup.SpiTvgDataModel.ssdl|res://*/SPIModels.TheVillaGroup.SpiTvgDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=187.174.136.137;initial catalog=SPISales;persist security info=True;user id=gguerrap;password=11rdo10rra;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MS_WebHookReceiverSecret_GenericJson" value="zapier=9e287811c80875abde94cbddc0b2a2c30cb8832d,newlead=80f32f6123104d09a72c000047564e51,sms_voxtelesys=70f32f6123104d09a72c000047564e52" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>