<div id="search-activities" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <input id="txtSearch" type="text" class="validate" />
                <label for="txtSearch">@ePlatFront.Resources.Views.Shared.SharedStrings.Mex_Search</label>
            </div>
            <div id="searchQuickResults" class="col s12"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">@ePlatFront.Resources.Views.Shared.SharedStrings.Mex_Close</a>
    </div>
</div>