@model ePlatBack.Models.ViewModels.LeadTypeInfoModel

<div class="full-width align-from-bottom">
    <input type="button" id="btnNewLeadType" class="submit right fieldset-expander" value="new" />
</div>
<div id="divLeadTypes">
</div>
<div class="full-width align-from-bottom">
    <input type="button" id="btnSaveLeadTypesPerWorkGroup" value="save" class="submit right" />
</div>
<fieldset id="fdsLeadTypesInfo">
    <legend>
        <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator" />
        Lead Type Info
    </legend>
    <div class="align-from-top" style="display:none">
        @using (Ajax.BeginForm("SaveLeadType", "Admin", new AjaxOptions { OnSuccess = "PROFILE.saveLeadTypeSuccess(data)" }, new { id = "frmLeadType", onSubmit = "return UI.showValidationSummary(this.id);" }))
        {
            <div id="frmLeadType_ErrorMessages">
                @Html.ValidationMessageFor(m => m.LeadTypeInfo_LeadType)
            </div>
            <div class="editor-alignment">
                <div class="editor-label">
                    @Html.LabelFor(m => m.LeadTypeInfo_LeadType)
                    @Html.HiddenFor(m => m.LeadTypeInfo_LeadTypeID)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.LeadTypeInfo_LeadType)
                </div>
            </div>
            <div class="full-width">
                <input type="submit" class="submit right" value="save" id="btnSaveLeadType" />
            </div>
        }
    </div>
</fieldset>
