/* MENU */

#menu {
 float: left;
 margin: 0; padding: 0;
 border-bottom: none;
}

#menu li a, #menu li {
 float: left;
}

#menu li {
 list-style: none;
 position: relative;
}

/*#menu li a {
padding: 1em 2em;
 text-decoration: none;
 color: white;
 background: #292929;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
 border-right: 1px solid #3c3c3c;
 border-left: 1px solid #292929;
 border-bottom: 1px solid #232323;
 border-top: 1px solid #545454;
}
#menu li a:hover {
 /*background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}*/


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
    /*background: black;*/
	right : 0;
	bottom: 0;
}

#menu li ul {
 display: block;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0 3px 3px 3px; 
 margin: 0;
}

#menu li:hover > ul {
 /*display: block;*/
}

#menu li ul li, #menu li ul li a {
 float: none;
}

#menu li ul li {
 _display: inline; /* for IE6 */
}

#menu li ul li a {
 display: block;
}

/* SUBSUB Menu */

#menu li ul li ul {
 display: none;
 left: 99%;
 top: 0;
}

#menu li ul li:hover ul {
 display:block;
}