#page {
    width: 905px;
    margin: 0 auto;
    background-color: white;
    font-size: 1.5em;
    max-height: 150mm !important;
}

#container {
    padding: 0 30px 0;
}

#ticket {
    padding: 0 30px 0;
    /*margin-bottom: 30px;
    margin-top: 57px;*/
}

.comercial-name{
    display:none;
}

.ticket-header{
    /*display:none;*/
}

.ticket-section {
    border-bottom: double;
    text-align: center;
    position:relative;
}

.total-name{
    margin-left:40%;
}

.ticket-details .display-label, .ticket-subtotals .display-label {
    text-transform: capitalize !important;
    text-align:left;
    line-height:0.5em;
}

.ticket-section-title {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
}

.display-item {
    display: inline-block;
    width: 190px;
    vertical-align: top;
    /*margin-bottom: 10px;*/
    margin-bottom: 3px;
}

.display-item-full {
    width: 100%;
    text-align: center;
    /*border-bottom: #eee solid 1px;*/
    padding-top: 10px;
}
.ticket-subtotals > .display-label{
    border-bottom: 1px dotted black;
}
.display-label {
    display: block;
}

.display-field {
    display: block;
    font-weight: bold;
}
.subtotal-name{
    display:block;
    height:1.0em;
}
.display-subtotal{
    display:block;
    text-align:right;
    padding-bottom:5px;
}
.signature-section{
    height:80px;
}
.signature {
    width: 40%;
    height:50px;
    bottom: 0;
    border-top: solid 1px;
    text-align: center;
    margin: 50px 5px 0px;
    display:inline;
}

    .signature .display-item {
        position: relative;
        margin: 0 auto;
        vertical-align: bottom;
    }

.ticket-greetings .display-item {
    width: 100%;
}

.ticket-greetings .display-label{
    display:inline;
}

.ticket-totals{
    /*width:50%;*/
    /*float:right;*/
}

#bankLegend{
    display:none;
}

.total-name + div{
    float:right;
}

.total-cash-usd, .change-due{
    display:none;
}

.full-width {
    width: 100%;
}

.right {
    float: right;
}
.left{
    float:left;
}

.cursive{
    font-style:italic;
}

.truncate {
    display:inline-block;
    width: 700px;
    min-height:5px;
    padding-top:2px;
    padding-bottom:2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}