@model ePlatBack.Models.ViewModels.DestinationsPerTerminalInfoModel

<fieldset id="fdsDestinationsPerTerminalManagement">
    <legend>
        <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator" />
        Destinations
    </legend>
    <div style="display: none" class="align-from-top">
        <div>
            <input type="checkbox" class="chk-parent" />Select All
        </div>
        <ul id="ulDestinationsPerTerminal" class="primary-selected-row-dependent">
        </ul>
        <div id="pSaveDestinationsPerTerminal" class="full-width align-from-bottom">
            <input type="button" class="submit right" id="btnSaveDestinationsPerTerminal" value="save" />
        </div>
    </div>
</fieldset>
