@model ePlatBack.Models.ViewModels.ReservationsMadeModel

<table id="tblReservationsMadeReport" class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Input Date</th>
            <th>Reservation Made Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListReservationsMade != null)
        {
            foreach (var i in Model.ListReservationsMade)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => i.ReservationsMade_FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.ReservationsMade_LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.ReservationsMade_InputDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.ReservationsMade_ReservationDate)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>