@model ePlatBack.Models.ViewModels.AuditCouponsModel.SearchCoupon

@using (Ajax.BeginForm("SearchCoupon", "Reports", new AjaxOptions { UpdateTargetId = "divCouponResults", OnSuccess = "REPORT.searchResultsTable(data); REPORT.Audit.loaded();" }, new { id = "frmSearchCoupon" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="non-printable search-params">
        <div class="editor-alignment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Search_Folio)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Search_Folio)
            </div>
        </div>
        <div class="editor-alignment align-from-top">
            <div class="editor-field">
                <input type="submit" class="button" value="get" />
            </div>
        </div>

    </div>
    <div id="divCouponResults" class="align-from-top">
    </div>
}