@model ePlatBack.Models.ViewModels.DestinationsModel.SearchDestinationsModel

<fieldset id="fdsDestinationsManagement">
    <legend>
        <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator"/>
        Destinations Management
    </legend>
    <div class="align-from-top">
        <div class="full-width">
            <input type="button" id="btnNewDestinationsInfo" class="submit fieldset-expander right" value="New">
        </div>
        @using (Ajax.BeginForm("SearchDestinations", "Catalogs", new AjaxOptions { OnSuccess = "CATALOG.destinationsResultsTable(data)", OnComplete = "CATALOG.makeDestinationsSelectable()", UpdateTargetId = "divTblExistingDestinations" }, new { id = "frmDestinationsSearch" }))
        {
            <div class="editor-alignment">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Search_Destinations)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Search_Destinations)
                </div>
            </div>
            <div class="editor-alignment align-from-top">
                <div class="editor-field">
                    <input type="submit" id="btnSearchDestinations" class="button search" value="Search" />
                </div>
            </div>
            <div id="divTblExistingDestinations" class="align-from-top">
                <table id="tblSearchDestinationsResults" class="dataTable table search-results">
                    <thead>
                        <tr>
                            <th>Destination</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        }
        @Html.Action("RenderDestinationsManagement", "Catalogs")
    </div>
</fieldset>