<div class="jumbotron">
    <h1>ePlat</h1>
    <p class="lead">ePlat es una aplicación web que provee de herramientas a la operación de diversos departamentos y empresas hermanas de The Villa Group y Tafer Resorts.</p>
    <p>En ePlat for Developers, encontrarás la documentación necesaria para interactuar con las APIs de ePlat.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ePlat CRM</h2>
        <p>Permite a los departamentos que tienen contacto con el cliente, llevar el control de las interacciones y el seguimiento de las ventas, desde la prospectación, el seguimiento, la venta, la reservación, hasta la generación de reportes contables y de comisiones.</p>
    </div>
    <div class="col-md-4">
        <h2>ePlat CMS</h2>
        <p>Permite la publicación de Sitios Web enlazados directamente al CRM. Posee herramientas para administrar información, galerías, precios, páginas de contenido, etc.</p>
    </div> 
    <div class="col-md-4">
        <h2>ePlat Automation</h2>
        <p>Asiste con herramientas de automatización a la operación del CMS y el CRM mediante el envío y tracking de correos, surveys postventa, firma electrónica de documentos, pagos electrónicos, entre otros métodos de interacción con el cliente.</p>
    </div>
</div>
