<fieldset id="fdsGuestMemberInfo" class="primary-selected-row-dependent">
    <legend>
        <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator" />
        Member Info
    </legend>
    <table id="tblSearchGuestsMemberInfo" class="table">
       
        <tbody >
            
            <tr>
                <td>Contract Number:</td>
                <td id="ContractNumberID">
                   
                </td>
                </tr>
            <tr>
                <td>Resort Contract Number:</td>
                <td id="ResortContractNumberID">
                

                </td>
            </tr>
            <tr>
                <td>Account Number:</td>
                <td id="AccountNumberID">
                </td>
            </tr>
            <tr>
                <td>Contract Status:</td>
                <td id="ContractStatusID">
                </td>
            </tr>
            <tr>
                <td>Source of Sale:</td>
                <td id="SourceOfSaleID"></td>
            </tr>
                
                
                
                <tr>
                    <td>Club Type:</td>
                    <td id="ClubTypeID">
                        
                    </td>
                </tr>
                




            </tr>
           

        </tbody>

        

    </table>
</fieldset>