<fieldset id="fdsTasks">
    <legend>
        <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator" />
        GUEST TASKS
    </legend>
    <br />
    GUEST HISTORY TASKS
    <div id="GuestTasksDiv">
      
            <table id="tblGuestTasks" class="table">
                <thead>
                    <tr>
                        <th>Task ID</th>
                        <th>Task</th>
                        <th>SubTask</th>
                        <th>Date</th>
                        <th>Room Number</th>
                        
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
       
  </div>
</fieldset>
