



@font-face {
    
font-family: 'epson';
    
src: url('epson.ttf') format('truetype');
font-weight: normal;
    
font-style: normal;


}




@font-face {
    
font-family: 'epson1';
    
src: url('epson1.ttf') format('truetype');
font-weight: normal;
    
font-style: normal;


}