@model ePlatBack.Models.ViewModels.ZonesSearchModel

<div class="full-width">
    <input type="button" id="btnNewZonesInfo" class="submit fieldset-expander right" value="New">
</div>
@using (Ajax.BeginForm("SearchPlacesRelatedItems", "Places", new AjaxOptions { OnSuccess = "", OnComplete = "", UpdateTargetId = "divTblExistingZones" }, new { id = "frmZonesSearch" }))
{
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.Search_Zones)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Search_Zones)
        </div>
    </div>
    <div class="editor-alignment align-from-top">
        <div class="editor-field">
            <input type="button" id="btnSearchZones" class="button search" value="Search" />
        </div>
    </div>
    <div id="divTblExistingZones" class="align-from-top">
        <table id="tblSearchZonesResults" class="table search-results">
            <thead>
                <tr>
                    <th colspan="2">Zones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>   
}