@model ePlatBack.Models.ViewModels.PlaceClasificationsSearchModel

<div class="full-width">
    <input type="button" id="btnNewPlaceClasificationsInfo" class="submit fieldset-expander right" value="New">
</div>
@using (Ajax.BeginForm("SearchPlacesRelatedItems", "Places", new AjaxOptions { OnSuccess = "", OnComplete = "", UpdateTargetId = "divTblExistingPlaceClasifications" }, new { id = "frmPlaceClasificationsSearch" }))
{
    <div class="editor-alignment">
        <div class="editor-label">
            @Html.LabelFor(model => model.Search_PlaceClasifications)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Search_PlaceClasifications)
        </div>
    </div>
    <div class="editor-alignment align-from-top">
        <div class="editor-field">
            <input type="button" id="btnSearchPlaceClasifications" class="button search" value="Search" />
        </div>
    </div>
    <div id="divTblExistingPlaceClasifications" class="align-from-top">
        <table id="tblSearchPlaceClasificationsResults" class="table search-results">
            <thead>
                <tr>
                    <th colspan="2">Place Clasifications</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>   
}