@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';

body {
    font-family: 'Raleway', sans-serif !important;
}

    body > .container {
        margin-top: 80px;
    }

header.navbar {
    background: rgba(0,0,0,.4);
    border: none;
    box-shadow: none;
}

.navbar-default .navbar-toggle {
    margin-top: 27px;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white !important;
    }

.navbar-header {
    height: 90px;
}

nav#bs-navbar {
    border: none;
    background-color: rgba(0,0,0,0.8);
}

.navbar-nav li a{
    cursor: pointer;
}

footer {
    margin-top: 0;
    margin-bottom: 75px;
    background-color: rgba(250,250,250,.8);
}

footer .container{
    padding: 20px;
}

footer .pull-right{
    margin-bottom: 20px
}

    footer .call-to-action {
        position: fixed;
        z-index: 1;
        background-color: #eb8c22;
        width: 100%;
        padding: 10px 20px 5px;
        bottom: 0;
        color: white;
        text-align: center;
    }

        footer .call-to-action .phone-number {
            font-size: 2em;
            display: block;
        }

figure.tile-package {
    background-color: white;
    margin: 20px;
    /*opacity: .8;*/
    box-shadow: 0 0 5px #252525;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

.tile-package h2 {
    margin: 0;
    font-size: 1.6em;
    height: 55px;
}

figcaption.tile-text {
    padding: 20px 20px 0;
}

figure.tile-package:hover {
    opacity: 1;
}

.tile-text a:hover {
    text-decoration: none;
}

.tile-text .price {
    float: right;
    font-size: 3em;
    vertical-align: top;
    margin-top: -10px;
    font-weight: bold;
    color: #ff9f09;
}

.tile-button {
    background-color: #10ca72;
    margin: 20px -20px 0;
    text-align: center;
    padding: 10px;
    color: white;
}

a {
    color: #37bd93 !important;
}

/*detail v3*/
.header-call-to-action {
    margin-top: 430px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 5px #252525;
}

    .header-call-to-action .price {
        font-size: 6em;
        display: block;
        margin-top: -20px;
    }

.price-savings {
    color: #37bd93;
    font-weight: bold;
}

.white-box {
    background-color: rgba(255,255,255,.9);
}

    .white-box .container {
        padding: 20px 15px;
    }

    .white-box h1, .white-box h2 {
        margin-top: 0;
    }

    .white-box .img-thumbnail {
        margin-bottom: 10px;
    }

.big-header-left h2, .big-header-right h2, .big-header-left h3, .big-header-right h3 {
    font-size: 40px;
    color: #10ca72;
    margin-top: 0;
    font-weight: 300;
    letter-spacing: -2px;
}

.big-header-right .price {
    font-weight: bold;
}

.big-header-right .retail {
    text-decoration: line-through;
    font-size: 20px;
}

.package-rating {
    background-color: white;
    margin: 20px -15px;
    padding: 20px;
}

.black-box {
    background-color: rgba(0,0,0,0.9);
}

.black-box-50 {
    background-color: rgba(0,0,0,0.5);
}

    .black-box h2, .black-box-50 h2 {
        color: white;
        margin-top: 0;
    }

    .black-box .container, .black-box-50 .container {
        padding: 20px 15px;
    }

    .black-box p, .black-box ul, .black-box-50 p, .black-box-50 ul {
        color: white;
    }

.gallery-box {
    width: 100%;
    height: 240px;
    margin: 0 -15px;
    padding: 0 15px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#mapContainer {
    width: 100%;
    height: 470px;
}

.call-us {
    background-color: #FE5805;
    color: white;
    padding: 20px;
}

    .call-us .phone-number {
        display: block;
    }

.action {
    font-size: 2.5em;
}

.right-panel {
    padding: 20px;
    margin-top: 0;
    background-color: white;
}

.right-panel img{
    margin: 0 auto;
}

.notification {
    position: fixed;
    /* background-color: white; */
    height: 80px;
    width: 250px;
    right: 10px;
    bottom: -85px;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 2px 8px #999;
    border-radius: 2px;
    text-align: center;
    background: #f7f9a6;
    color: black;
    margin-bottom: 70px;
}

.timer {
    background-color: black;
    color: white;
    margin-bottom: 5px;
    padding: 10px 9px;
    position: absolute;
    text-align: center;
    z-index: 5;
    width: 264px;
    height: 76px;
}

#timer {
    margin-top: -5px;
}

.digit {
    float: left;
    font-size: 2.5em;
    position: relative;
    text-align: center;
    width: 21px;
}

.dash {
    float: left;
    height: 37px;
    margin-left: 4px;
    position: relative;
    width: 55px;
}

.dash_title {
    display: inline-block;
    padding-top: 21px;
}

.secondary-phone-number {
    font-weight: bold;
}

.btn-menu-2 {
    background-color: #00000094;
}

@media (min-width: 768px) {
    body > .container {
        margin-top: 110px;
    }

    nav#bs-navbar {
        background: none;
    }

    footer {
        background-color: rgba(250,250,250,.8);
        margin-top: 0;
        margin-bottom: 0;
    }

        footer .container {
            padding: 20px;
        }

    .phones {
        width: 230px;
        background: orange;
        padding: 18px 20px;
        margin-right: 20px;
        text-align: center;
    }

    span.small-text {
        font-size: .8em;
        display: block;
    }

    span.phone-number {
        font-size: 1.8em;
        font-weight: bold;
        line-height: 18px;
        display: block
    }

    ul.nav.navbar-nav {
        margin: 18px auto;
    }

    .navbar-nav li a {
        color: white !important;
    }

    .package-rating {
        margin-top: 0;
    }

    .gallery-box {
        margin: 0;
        padding: 0;
    }

    .white-box .container, .black-box .container, .black-box-50 .container{
        padding: 40px 15px;
    }

    .timer{
        width:230px;
    }

    .digit{
        width: 15px;
        font-size: 1.8em;
    }

    .dash{
        width: 47px;
    }

    
    .dash_title {
        padding-top: 12px;
    }

    .notification {
        margin-bottom: 0;
    }
}

@media(min-width:992px) {
    .gallery-box {
        height: 480px;
    }

    .phones {
        width: 228px;
        margin-right: 15px;
    }
}

@media(min-width:1200px) {
    .phones {
        width: 263px;
        margin-right: 15px;
    }

    .timer{
        width: 264px;
    }

    .digit{
        width: 21px;
        font-size: 2.5em;
    }

    .dash{
        width: 55px;
    }

    .dash_title {
        padding-top: 21px;
    }
}
