@model ePlatBack.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "ePlat > Settings > Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
    var Privileges = ViewData["Privileges"] as List<ePlatBack.Models.ViewModels.SysComponentsPrivilegesModel>;
}

@section Head
{
    <link href="/Content/jquery.dataTables.css" rel="stylesheet" type="text/css" />
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.json-2.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/settings/users/users.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery.dataTables.js" type="text/javascript"></script>
}
<h1>Users</h1>
<div class="align-from-top">
    <fieldset id="fdsUsersManagement">
        <legend>
            <img src="/Content/themes/base/images/eplat_show.jpg" class="fieldset-indicator fds-indicator-separator" />
            Users Management
        </legend>
        <div style="display: none" class="align-from-top">
            @Html.Partial("_SearchUsersPartial", Model.UserSearch)
            @Html.Partial("_UserProfilePartial", Model.UserInfo)
        </div>
    </fieldset>
</div>
